@charset "utf-8";

html, body{
  position:relative;
  overflow:hidden;
  width:100%;
  height:100%;
  user-select: none;
  -webkit-user-select : none;
  -webkit-touch-callout : none;
}

.hidden{display:none;}

#myCanvas{
  background:#fff;
}

.z, .page{
  position:absolute;
  top:0;
  bottom:0;
  overflow:hidden;
  background:#FEE31A;
}
.z-a{
  z-index:100;
}
.z-b{
  z-index:99;
}

.page-menu{
  height: 32px;
  padding:0 4px;
}
.page-menu .back{
  float:left;
  line-height:32px;
}
.page-menu .back a{
  color:#000;
  font-size:14px;
}
.page-menu .back a i{}
.page-menu .back a span{}

.page-main{
  padding:14px;
}

.mod-block{
  margin-bottom:14px;
}
.mod-block .hd{
  margin-bottom:2px;
}
.mod-block .hd h2{
  font-size:18px;
}
.mod-block .bd{
  margin-left:2px;
  padding-left:12px;
  border-left:1px solid #555;
}


/*按钮*/
.btn{
  display:inline-block;
  border-radius:30px;
  height:34px;
  line-height:34px;
  width:130px;
  font-size:14px;
  border:0 none;
  box-sizing: border-box;
}
.btn-hollow{
  background-color:#fff;
  color:#22BB62;
  border:1px solid #22BB62;
}
.btn-solid{
  background-color:#22BB62;
  color:#fff;
}

/*封面*/
.cover-page-in{
  position:absolute;
  width:100%;
  top:15%;
  background:url(../images/hmbb.jpg) center top no-repeat;
}

.cover-page h1 {
  font-size: 3.5em;
  text-align: center;
  color: #A29E62;
  text-shadow: 0 1px 0 #706E51;
  margin-top:126px;
  font-family:Tahoma;
}

.cover-page .start-game-wrap{
  text-align:center;
  margin-top:30px;
}
.cover-page .start-game{
  position:absolute;
  bottom:50px;
  left:50%;
  margin-left:-60px;
  
  text-align:center;
  width:120px;
  border:1px solid #083F57;
  border-radius:4px;
  padding:10px 0;
  font-size:1.3em;
  display:inline-block;
  color:#222;
  text-shadow:0 1px 0 #ccc;
  box-shadow:0 1px 0 #eee;
  -webkit-box-shadow:0 1px 0 #eee;
  text-decoration:none;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,  color-stop(0%, #fff), color-stop(2%, #87BEE1),color-stop(3%, #54A2D3), color-stop(100%, #2C74AD));
  background-image:-moz-linear-gradient(#fff 0%,#87BEE1 2%,#54A2D3 3%,#2C74AD 100%);
}
.cover-page .start-game:active{
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,  color-stop(0%, #fff), color-stop(2%, #87BEE1),color-stop(3%, #2C74AD), color-stop(100%, #54A2D3));
  background-image:-moz-linear-gradient(#fff 0%,#87BEE1 2%,#2C74AD 3%,#54A2D3 100%);
}

.cover-page .setting{
  position:absolute;
  right:10px;
  bottom:10px;
}


/*游戏设置*/
.btn-cur{
  background-color:#000;
  color:#fff;
}

/*游戏*/

.game-page{
  background-color:#fff;
}



/*分数*/
.score-wrap{
  position:absolute;
  right:5px;
  top:5px;
  z-index:100;
}

.time, .score{
  background-color:rgba(111,111,111,0.3);
  border:2px solid rgba(1,1,1,0.3);
}

.time{
  line-height:1;
  padding:5px;
  border-radius:10px;
  float:left;
  color:#fff;
  font-weight:bolder;
  text-shadow:0 -1px 0 #000;
  padding:3px 5px;
  margin-right:-5px;
}
.time span{
  line-height:1;
  padding:0 2px;
}
.score{
  float:right;
  width:50px;
  height:50px;
  line-height:50px;
  text-align:center;
  border-radius:50%;
  font-size:1.6em;
  text-shadow:0 1px 0 #fff;
  color:#333;
  font-weight:bolder;
}

/*游戏结束时的提示*/
.game-success-tip{
  height:100%;
}

.game-success-tip-box{
  border: 4px solid #1B984F;
  width: 86%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  border-radius: 20px;
  overflow: hidden;
}
.game-success-tip-box-hd{
  background-color:#22BB62;
}
.game-success-tip-box-hd h4{
  text-align:center;
  color:#fff;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
}
.game-success-tip-box-bd{
  padding: 14px 10px;
  background-color: #fff;
}
.game-success-tip-box-bd .game-data{
  padding: 10px 0 20px;
}
.game-success-tip-box-bd .game-data ul{
  overflow:hidden;
}
.game-success-tip-box-bd .game-data ul li{
  float:left;
  text-align:center;
  width:50%;
  font-size:28px;
}
.game-success-tip-box-bd .game-data ul li h6{}
.game-success-tip-box-bd .game-data ul li p{}

.game-success-tip-box-bd .btn-wrap{
  text-align:center;
  overflow:hidden;
}
.game-success-tip-box-bd .btn-wrap div{
  width:50%;
  float:left;
  text-align:center;
}
.game-success-tip-box-bd .btn-wrap .btn{
  width:90%;
}

















