@charset "utf-8";

*{margin:0; padding:0;}
html, body{
  position:relative;
  overflow:hidden;
}
canvas{
  display:block;
}
.page{
  display:table;
  margin:0 auto;
}
#myCanvas{
  background:#eee;
}




